html {
  font-family: "Raleway", sans-serif;
}

main {
  height: 100vh;
}

h1 {
  padding-top: 50px;
  font-size: 40px;
  font-weight: 800;
  color: #2d69b2;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}

h1::before {
  content: "";
  background-image: url("./assets/favicon.ico");
  background-repeat: no-repeat;
  position: absolute;
  top: 50px;
  bottom: -10px;
  left: 50%;
  right: 0px;
  transform: translateX(-300px);
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 25px;
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
}

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.left,
.right {
  width: 50%;
}

.content-container {
  display: flex;
}

img {
  width: 100%;
  height: auto;
  transition: transform 0.5s;
  cursor: pointer;
}

.image-container {
  overflow: hidden;
}

img:hover {
  transform: scale(1.4);
}

.image-list {
  margin-top: 20px;
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 4;
  -webkit-column-gap: 0px;
  -moz-column-count: 4;
  -moz-column-gap: 0px;
  column-count: 4;
  column-gap: 0px;
}

@media (max-width: 1200px) {
  .image-list {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
@media (max-width: 1000px) {
  .image-list {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 800px) {
  .image-list {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 400px) {
  .image-list {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
