html {
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}

main {
  height: 100vh;
}

h1 {
  padding-top: 50px;
  font-size: 40px;
  font-weight: 800;
  color: #2d69b2;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}

h1::before {
  content: "";
  background-image: url("./assets/favicon.ico");
  background-repeat: no-repeat;
  position: absolute;
  top: 50px;
  bottom: -10px;
  left: 50%;
  right: 0px;
  transform: translateX(-300px);
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 25px;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 10px;
}

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.left,
.right {
  width: calc(50% - 5px);
}

.left {
  margin-right: 5px;
}

.right {
  margin-left: 5px;
}

.content-container {
  display: flex;
}

img {
  width: 100%;
  height: auto;
  transition: transform 0.5s;
  cursor: pointer;
}

.image-list img:hover {
  transform: scale(1.4);
}

.single-image-container img {
  margin-top: 20px;
  max-height: 450px;
  object-fit: contain;
  border-radius: 5px;
}

.image-list {
  margin-top: 20px;
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 4;
  -webkit-column-gap: 0px;
  -moz-column-count: 4;
  -moz-column-gap: 0px;
  column-count: 4;
  column-gap: 0px;
}

/* responsive */

@media (max-width: 1000px) {
  html {
    overflow: visible;
  }
  p {
    font-size: 20px;
    padding: 15px 0;
    margin-bottom: 5px;
  }

  .image-list {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 800px) {
  .image-list {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 600px) {
  h1 {
    padding-top: 50px;
    font-size: 30px;
  }

  h1::before {
    top: 40px;
    transform: translateX(-250px);
  }
  p {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  .left,
  .right {
    width: 100%;
    margin: 0 0 40px 0;
  }

  .content-container {
    display: block;
  }

  .image-list {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 400px) {
  .image-list {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
